body
    color: darken(grey, 20)

// General settings for the navigation bars
nav
    margin-bottom: 1em

    img 
        width: 30px
        height: auto

// Add padding tot the rows so we aren't edge to edge with the screen
.row
    padding-left: 1em
    padding-right: 1em