{{ define "title" }}Account{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="/static/css/account.css">
{{ end }}


{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title">User Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            {{ with .user }}
            {{ end }}
        </div>
        <div class="col-12 col-md-2 offset-md-3">
            <div class="btn-group-vertical">
                <a name="actions" id="actions" class="btn btn-outline-light inactive" role="button">Actions</a>
                <form action="/account/all-device-logout/" method="post">
                    <button name="device_logout" id="device_logout" class="btn btn-info no-border" role="button">Log out from all
                        devices</button>
                </form>
                <a name="change_password" id="change_password" class="btn btn-info" href="/account/change-password/"
                    role="button">Change Password</a>
                <a name="delete_account" id="delete_account" class="btn btn-danger" href="/account/delete/"
                    role="button">Delete Account</a>
            </div>
        </div>
    </div>
</div>
{{ end }}