{{ define "title" }}Account{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="/static/css/account.css">
{{ end }}


{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="title">
                <h1 class="">User Profile</h1>
                <div class="dropdown open">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cogs"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <div class="btn-group-vertical">
                            <form action="/account/all-device-logout/" method="post">
                                <button name="device_logout" id="device_logout" class="dropdown-item no-border" role="button">Log
                                    out from all
                                    devices</button>
                            </form>
                            <a name="change_password" id="change_password" class="dropdown-item" href="/account/change-password/"
                                role="button">Change Password</a>
                            <a name="delete_account" id="delete_account" class="dropdown-item" href="/account/delete/"
                                role="button">Delete
                                Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            {{ with .user }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}