<!doctype html>
<html lang="en">
  <head>
    <title>Dash - FireWatch</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/framework/bootstrap.css" crossorigin="anonymous">
  </head>
  <body>
      hey
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/framework/jquery.js" crossorigin="anonymous"></script>
    <script src="/static/framework/popper.js" crossorigin="anonymous"></script>
    <script src="/static/framework/bootstrap.js" crossorigin="anonymous"></script>
  </body>
</html>