nav {
  margin-bottom: 1em;
}

nav img {
  width: 30px;
  height: auto;
}

.no-border {
  border-radius: 0px;
}

.row-offset {
  margin-top: 2em;
}

body {
  background-color: #e6e6e6;
}

.widget {
  height: 20em;
  width: 90%;
  padding-top: 1em;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.widget .okay {
  color: green;
}
