body {
  color: #4d4d4d;
}

nav {
  margin-bottom: 1em;
}

nav img {
  width: 30px;
  height: auto;
}

.row {
  padding-left: 1em;
  padding-right: 1em;
}

body {
  background-color: #e6e6e6;
}

.widget {
  height: 20em;
  width: 90%;
  padding-top: 1em;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.widget .okay {
  color: green;
}
