{{ define "title" }}Dashboard{{end}}

{{ define "css" }}
<link rel="stylesheet" href="/static/css/dashboard.css">
{{ end }}

{{ define "content" }}
  <div class="row">
    <div class="col-12 col-md-4 widget">
      <h1 class="name">System Status</h1>
        <div class="okay">Hey</div>
    </div>
    <div class="col-12 col-md-4 widget">
      <h1 class="name">Active Devices</h1>
      <span class="okay">Test</span>
    </div>
    <div class="col-12 col-md-4 widget">
        <h1 class="name">Active Devices</h1>
        <span class="okay">Test</span>
      </div>
  </div>
{{ end }}