<!doctype html>
<html lang="en">

<head>
  <title>Login - FireWatch</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/framework/bootstrap.css" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>
  <div class="container">
    <div class="col-12 col-sm-6 offset-sm-3 center-screen" id="form-container">
      
      <form action="/auth/login/" method="post">
        <div class="fw-title">
          <img src="/static/images/FireEmblem.png" alt="Fire Emblem">
          <span>FireWatch</span>
        </div>
        {{ with .message }}
          <div class="alert alert-{{.Type}}" role="alert">
            <strong>{{.Message}}</strong>
          </div>
        {{end}}
        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/static/framework/jquery.js" crossorigin="anonymous"></script>
  <script src="/static/framework/popper.js" crossorigin="anonymous"></script>
  <script src="/static/framework/bootstrap.js" crossorigin="anonymous"></script>
</body>

</html>